* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
}
.login img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.login h1 {
  font-size: 4rem;
  font-weight: 700;
}
.inp {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 25px -11px rgba(0, 0, 0, 0.75);
}
.btn1 {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  font-weight: 600;
  background-color: #8ec711;
  color: white;
}

.fa-facebook {
  color: rgb(39, 39, 182);
  font-size: 2rem;
  cursor: pointer;
}
.fa-google-plus {
  color: rgb(209, 7, 24);
  font-size: 2.1rem;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
}
